.jumbotron-impression {
  min-height: 40em;
}
#strip-img {
  height: 15rem;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: calc(100% - 5rem) !important;
  }
}
.gallery-image {
  width: 100%;
  cursor: pointer;
  margin: 15px 0;
  overflow: hidden;
}
.gallery-image-child {
  width: 100%;
  background-position: center;
  background-size: cover;
  padding-bottom: 67%;
  transition: transform 0.2s;
}
.gallery-image-child:hover {
  transform: scale(1.1);
}
#header-jumbotron {
  background-color: rgba(0, 0, 0, 0.75) !important;
  overflow: hidden;
}
#header-video {
  min-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: -1;
}
#nav-bar, #footer {
  background-color: white;
}
